.header {
    position: absolute;
    width: 100%;
    top: 40px;
    left: 0;
    z-index: 100;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {

		&__item {
            padding: 0 15px;
            color: #fff;
            font-size: 14px;
            font-weight: 300;
            line-height: normal;
			transition-duration: .2s;
        }
}
.navigation__item:hover{
	color:$activ_color;
}
.search {

		&__link + &__link{
            padding: 0 0 0 24px;
		}
}
